{{>navbar}}
<div id="overlay" class="overlay">
  <div class="container" id="container">
    <section class="" id="latest">
      <h2 class="recipe-title" id="recipe-title">Latest recipes</h2>
      <ul>
        {{#each latest}}
        <div class="recipe-box">
          <li>
            <a href="/{{this.id}}">{{this.title}}</a>
            <li>Difficulty: {{this.difficulty}}</li>
            <li>{{this.duration}} minutes</li>
          </li>
        </div>
        {{/each}}
      </ul>
    </section>
  </div>
</div>
