{{>navbar}}
<div id="overlay" class="overlay">
  <div class="container" id="container">
    <form class="form" action="/signin" method="post">
      <header class="formheader">Login</header>
      <label>Username: </label>
      <input name="username" placeholder="At least 6 characters" required="" type="text">
      <label>Password: </label>
      <input name="password" placeholder="*********" required="" type="password">
      <div class="validation" id="validation"></div>
      <button class="approve-button" id="approve-button" type="submit" name="submit">Login</button>
      <a class="goback-button" id="goback-button" href="/">Go Back</a>
    </form>
  </div>
</div>
