{{>navbar}}
<div id="overlay" class="overlay">
  <div class="container" id="container">
    <section class="" id="latest">
      <div class="loginsignup" style="display: flex;">
        <h2 class="formheader">You are not logged in</h2>
        <div class="login-username">
          <a class="approve-button" href="/login">Login</a>
        </div>
        <div class="signup-logout">
          <a class="approve-button" href="/signup">Signup</a>
        </div>
        <a class="goback-button" id="goback-button" href="/">Go Back</a>
      </div>
    </section>
  </div>
</div>
