<header>
  <p class="logo">Facn Recipe 4.0</p>
  <img class="logo-img" src="./fac.png" alt="fac-logo">
  <div class="button-container" id="button-container">
    <div class="login-username">
      <button type="button" name="button" id='openloginform'>Login</button>
    </div>
    <div class="signup-logout">
      <button type="button" name="button" id='opensignupform'>Sign up</button>
    </div>
  </div>
</header>
