<header>
  <p class="logo"><a href="/">Facn Recipe 4.0</a></p>
  <img class="logo-img" src="./fac.png" alt="fac-logo">
  <div class="button-container" id="button-container">
    <div class="login-username">
      <div class="approve-button">
        <a href="/login">Login</a>
      </div>
    </div>
    <div class="signup-logout">
      <div class="approve-button">
        <a href="/signup">Signup</a>
      </div>
      <!-- <button class="approve-button" id="approve-button" type="submit" name="submit">Login</button>
      <a class="goback-button" id="goback-button" href="/">Go Back</a> -->
    </div>
  </div>
</header>
