<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Chewy|PT+Sans+Narrow:400,700|Roboto:300,400,500,700|Zilla+Slab+Highlight:400,700" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <link rel="shortcut icon" href="./fac.ico" type="image/x-icon">
  <title>FACN Recipe 4.0 - Ultimate application to search/add recipes for FoundersandCoders Nazareth</title>
</head>
