<header>
  <p class="logo"><a class="maintitle" href="/">Facn Recipe 4.0</a></p>
  <img class="logo-img" src="./fac.png" alt="fac-logo">
  <div class="button-container" id="button-container">
    {{#if activePage.home}}navbar__link--active{{/if}}
    {{#if username}}
      <div class="login-username">
        <a class="approve-button">{{username}}</a>
      </div>
      <div class="signup-logout">
        <a class="approve-button" href="/logout">Signout</a>
      </div>
    {{else}}
      <div class="login-username">
        <a class="approve-button" href="/login">Login</a>
      </div>
      <div class="signup-logout">
        <a class="approve-button" href="/signup">Signup</a>
      </div>
    {{/if}}
  </div>
</header>
