<div class="topnav" id="myTopnav">
  <a href="/">NEWEST RECIPIES</a>
  <div class="dropdown">
    <button class="dropbtn">CUSINE</button>
    <div class="dropdown-content" id="dropdown-content">
      <a class="nav-select" id="">Arabic</a>
      <a class="nav-select" id="">Italian</a>
      <a class="nav-select" id="">Asian</a>
      <a class="nav-select" id="">Mixed</a>
    </div>
  </div>
  <a type="button" name="button" class="nav-select"  id='login-signup-add'>ADD RECIPE</a>
</div>
