<div class="topnav" id="myTopnav">
  <a href="/">NEWEST RECIPIES</a>
  <div class="dropdown">
    <button class="dropbtn">CUSINE</button>
    <div class="dropdown-content" id="dropdown-content">
      <a class="nav-select" id="" value="arabic" href="/arabic">Arabic</a>
      <a class="nav-select" id="" value="italian" href="/italian">Italian</a>
      <a class="nav-select" id="" value="asian" href="/asian">Asian</a>
      <a class="nav-select" id="" value="mixed" href="/mixed">Mixed</a>
    </div>
  </div>
  <a type="button" name="button" class="nav-select"  id='login-signup-add'>ADD RECIPE</a>
</div>
