<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    {{>header}}
    {{>navbar}}
    <main class="main">
      {{{body}}}
    </main>
    {{>footer}}
    <script src="./script.js"></script>
  </body>
</html>
